h1 {
    text-align: center;
    font-size: 20px;
    color: cornsilk ;
}
header,footer {
    height: 50px;
    background-color: blueviolet;
}
body {
    background-color: white;
    padding: 0.5%;
}
#sec1 {
    margin-top: 15px;
    background-color: blanchedalmond;
    height: 300px;
}
#sec2 {
    margin-top: 15px;
    padding-top: 10px;
    background-color:darkcyan;
    height: 500px;
}
#formWrapper {
    display: flex;
    justify-content: center;
}
#mainFieldset {
    margin-left: 20px;
    margin-right: 20px;

}
legend {
    margin-top: 10px;
    color: darkred;
    background-color: azure;
}
input,select,textarea {
    width: 60%;
    margin-bottom: 10px;
    background-color: white;
}
fieldset fieldset {
 width: 25%;
 border: 2px dotted green;
 display: flex;
 flex-wrap: wrap;
}

.wrong{ 
    width: 235px;
    background-color: brown;
    margin-top: 1px;
    height: 20px;
    margin-bottom: 5%;
}
.cross,.check {
    width: 28px;
    height: 21px;
    background-image: brown;
}

#submit {
    background-color: grey;
}

label {
    width: 25%;
    margin-bottom: 10px;
    border: 2px dotted darkred;
    background-color:gainsboro;
    border-right: none;
}
button {
    width: 120px;
    background-color:dodgerblue;
    color: white;
}
#buttonWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50%;
}
#buttonWrapper2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50%;
}
#query {
    text-align: center;
}
#queryBox {
    width: 500px;
}

#tableInfo {
    background-color: beige;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

table {
    background-color: beige;
    border: 2px dotted darkred;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
 #tableSec {
    max-height: 370px;
    overflow: auto; 
}
thead {
    background-color: darkgreen;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: beige;
}
tbody tr:nth-child(even) {
    background-color:gray;
}
td {
    border: 1px solid dimgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

img {
    width: 30px;
    height: 35px;
}
footer {
    height: 100px;
    background-color: blueviolet;
}
footer p {
    text-align: center;
    color: white;
    font-size: 20px;

}
